@import "./core/reset";
@import "./core/variables";
@import "./core/components/characters/characterDetail.scss";
@import "./core/components/characters/characteItem.scss";
@import "./core/components/characters/characterList.scss";
@import "./core/components/filters/filters.scss";

body {
	width: 100%;
	font-family: Arial, sans-serif;
	background-color: rgb(24, 19, 46);
	display: flex;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	flex-direction: column;
	padding: 50px;

	header {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		.logo {
			max-width: 300px;
		}
	}

	.main {
		width: 100vw;
		max-width: 1600px;
		box-sizing: border-box;
		padding: 0 25px;
	}
}
