.character_detail {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;

	.card {
		background-color: #800000; /* Color similar al de Gryffindor */
		color: white;
		border-radius: 10px;
		overflow: hidden;
		width: 800px;
		position: relative;

		.character-image {
			width: 100%;
			height: auto;
			color: white;
		}

		.character-info {
			padding: 15px;
		}

		.character-info h2 {
			margin: 0;
			font-size: 1.5em;
			color: white;
		}

		.character-info p {
			margin: 10px 0;
			font-size: 1em;
			color: white;
		}

		.heart,
		.icon {
			font-size: 1.2em;
		}

		.back-link {
			text-decoration: none;
			color: white;
			position: absolute;
			top: 10px;
			right: 10px;
			font-size: 0.9em;
			background-color: transparent;
		}

		.back-link:hover {
			text-decoration: underline;
		}
	}
}
